# Output files
/bin/
/examples/pyvptree.so
/include/
/lib/
/python/pyvptree.c

*.mex
/examples/VPTree.m
/examples/VPTreeIncNN.m

# Intermediate build files
/.sconsign.dblite
*.o
*.os

# Created from running the Python demo
__pycache__
